<p>Admin works</p>
<!-- <app-adminsub1></app-adminsub1>
<app-adminsub2></app-adminsub2>
 -->

    <nav>
      <a>Navigation:</a>
      <ul>
        <li><a (click)="keuze1()" routerLink="/adminsub1">Admin</a></li>
        <li><a (click)="keuze2()" routerLink="/adminsub2">Admin</a></li>
      </ul>
    </nav>

    <ng-container [ngSwitch]="keuze">

      <app-adminsub1 *ngSwitchCase="1">

      </app-adminsub1>

      <app-adminsub1 *ngSwitchCase="2">

      </app-adminsub1>
    </ng-container>
 

